.main--body {
  margin: 10rem 2%;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
}

input {
  padding-left: 1rem;
}


@media screen and (max-width: 500px)  {
  .main--body {
    margin: 6rem 3%;
  }
}



